.getPost {
    width: 60%;
    margin: 20px auto 0 auto;
    padding: 2rem;
}

.getPost table {
    width: 100%;
}

#postinp {
    width: 100%;
    height: 4rem;
}

.post {
    background-color: rgb(170, 206, 170);
    padding: 16px;
    margin: 3em auto 3em auto;
}

.posttext {
    background-color: whitesmoke;
    padding: 0.5em;
}

.posttext p {
    margin: 0;
}

.post i {
    margin-top: 1em;
}

.post i:hover {
    cursor: pointer;
}