body{
    background-image: url(./../images/bg.png);
    font-family: 'Ubuntu', sans-serif;
    background-size: cover;
    padding-top: 0.4em;
}
.box{
    max-width:500px;
    margin:auto;
    width: 400px;
    height: 500px;
    border-radius: 15px 50px;
    padding-top: 40px;

}
.password{

    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}